/* font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; */

:root {
    --blue: rgb(22, 87, 201);
    --yellow: rgb(255, 179, 0);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    color: black;
    margin: 0;
    line-height: 1em;
}

h1 span {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

h2 {
    font-size: 38px;
    line-height: 1em;
    color: var(--blue);
    margin: 0;
    text-align: center;
}

h2 span {
    font-size: 28px;
    font-weight: 200;
    color: white;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: white;
    margin: 0;
    text-align: left;
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: black;
    height: 120px;
    top: 0;
}

main {
    margin-top: 120px;
}

.main-menu {
    width: 60%;
    margin: 0 auto;
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.main-menu ul li {
    list-style: none;
    width: 20%;
    text-align: center;
}

.main-menu a {
    text-decoration: none;
    font-weight: 600;
    color: var(--yellow);
}

.main-menu a.current {
    border-bottom: 2px solid var(--yellow);
}

.main-menu a:hover {
    border-bottom: 2px solid var(--yellow);
}

.logo {
    background-color: var(--blue);
    padding: 16px;
    z-index: 1;
    width: 100px !important;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
}

.logo a:hover {
    border-bottom: none;
}

.video-container {
    height: 600px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5%;
    object-fit: cover;
    z-index: 0;
}

.video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 80px;
}

.container {
    margin-top: -25px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.caption a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid black;
    color: black;
    padding: 8px 24px;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.caption a:hover {
    border: 2px solid var(--yellow);
    color: var(--yellow);
    transition: 0.5s ease-in-out;
}

.destinations {
    width: 80%;
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.location {
    width: 30%;
    height: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 1s ease;
}

.location:hover {
    transform: scale(1.05);
}

.location h3 {
    font-weight: 600;
    color: black;
}

.location a {
    text-decoration: none;
    background-color: black;
    color: var(--yellow);
    padding: 0 16px;
    border-radius: 8px;
    margin-top: 8px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    white-space: nowrap;
    opacity: 0;
}

.location:hover a {
    max-height: 100px;
    padding: 8px 16px;
    opacity: 1;
}

.north {
    background-image: linear-gradient(rgba(255, 179, 0, 0.8), rgba(255, 179, 0, 0.3)), url(../images/shutterstock-121410820.webp);
}

.northeast {
    background-image: linear-gradient(rgba(255, 179, 0, 0.8), rgba(255, 179, 0, 0.3)), url(../images/image_processing20220907-4-88eex1.jpg);
}

.south {
    background-image: linear-gradient(rgba(255, 179, 0, 0.8), rgba(255, 179, 0, 0.3)), url(../images/img_9605.jpg.webp);
}

.two-columns {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 32px;
}

.join-us {
    width: 35%;
}

.keywords-container {
    width: 65%;
}

.keywords {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.keywords p {
    background-color: black;
    border-radius: 32px;
    padding: 8px 16px;
    color: white;
    font-weight: 600;
    text-align: center;
    margin: 8px 0;
    font-size: 14px;
}

.keywords p:hover {
    color: var(--yellow);
}

.food {
    width: 50%;
    height: 700px;
    background-image: url(../images/topo-comidas-brasileiras.jpg);
    background-size: cover;
    background-position: center;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 32px;
}

.food-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    color: var(--blue);
    font-weight: 600;
    padding: 16px;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.food-container:hover {
    box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.2);
}

.food-container p {
    margin: 4px;
    line-height: 1em;
}

.uncover {
    width: 50%;
    color: white;
    margin-right: 10%;
    margin-left: 5%;
}

footer div {
    width: 80%;
    display: flex;
    color: var(--yellow);
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
}

footer div div {
    display: flex;
    align-items: center;
}

.full-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/anavilhanas-lodge.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-image img {
    height: 120%;
}

.our-guides {
    width: 80%;
    margin: 80px auto;
}

.guide-profile {
    background-color: var(--blue);
    border-radius: 16px;
    margin: 32px 0;
    padding: 32px;
    display: flex;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}

.guide-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 32px;
}

.guide-profile h3 {
    font-weight: 600;
    color: var(--yellow);
}

.guide-profile h3 span {
    font-weight: 300;
    color: black;
}

.guide-profile p {
    color: white;
}

.guide-profile:hover {
    border: 1px solid white;
    /* box-shadow: 0px 0px 32px rgba(255,255,255,0.4); */
    transition: 0.3s ease-in-out;
}

.our-guides hr {
    border: none;
    border-top: 1px solid var(--yellow);
}

.our-guides > p {
    color: var(--yellow);
    text-align: center;
}

.form-container {
    width: 80%;
    margin: 0 auto;
    padding: 64px 0 32px 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 32px;
}

.form-container h2 {
    align-self: center;
    text-align: right;
}

.contact-form {
    border: 1px solid var(--blue);
    border-radius: 16px;
    padding: 32px;
}

.contact-form input, .contact-form textarea, .contact-form select {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--blue);
    padding: 8px;
    margin: 8px auto;
    color: var(--blue);
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: var(--blue);
    opacity: 1;
    font-weight: 600;
}

.contact-form input[type="submit"] {
    transition: 0.5s ease-in-out;
}

.contact-form input[type="submit"]:hover {
    background-color: var(--blue);
    color: black;
    transition: 0.5s ease-in-out;
}

.map {
    border-radius: 16px;
    overflow: hidden;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}

.map:hover {
    filter: grayscale(0%);
    transition: 0.5s ease-in-out;
}

.title-container {
    width: 100%;
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.title-container .title {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    text-align: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transform: translate3d(0, 0, 0);
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
}

.explore {
    width: 80%;
    margin: 32px auto;
}

.explore h3 {
    color: white;
    font-weight: 600;
    text-align: center;
}

.explore h3 span {
    color: white;
    font-weight: 300;
}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 16px auto;
}

.description {
    border: 1px solid white;
    color: white;
    border-radius: 16px;
    padding: 16px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.explore-map {
    border-radius: 16px;
    overflow: hidden;
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

.explore-map iframe {
    width: 100%;
    height: 100%;
}

.icon {
    border-radius: 16px;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.icon:hover {
    background-color: white;
    transition: 1s ease-in-out;
}

.icon a {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 600;
    transition: 1s ease-in-out;
}

.image-1 {
    border-radius: 16px;
    grid-row: 2 / span 2;
    overflow: hidden;
}

.image-2 {
    border-radius: 16px;
    grid-column: 1 / span 1;
    overflow: hidden;
}

.image-3 {
    border-radius: 16px;
    grid-column: 2 / span 2;
    overflow: hidden;
}

.image-1 img, .image-2 img, .image-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s ease-in-out;
}

.image-1 img:hover, .image-2 img:hover, .image-3 img:hover {
    scale: 1.2;
    transition: 2s ease-in-out;
}

#amazonia .title-container {
    background-image: url(../images/Amazon_tour_Manaus-97746aabd084.jpg.webp);
}

#noronha .title-container {
    background-image: url(../images/Fernando-de-Noronha-Brazil-Exclusive-Travels-1.jpg.webp);
}

#gramado .title-container {
    background-image: url(../images/GettyImages-560616935_super.jpg);
}

.mood {
    width: 80%;
    margin: 32px auto;
    border: 1px solid white;
    padding: 32px;
    border-radius: 16px;
}

.mood-two-columns {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
    margin-top: 32px;
}

.mood-two-columns > div {
    width: 50%;
}

.check-days {
    background-color: var(--blue);
    border-radius: 8px;
    padding: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-days h3 {
    font-weight: 600;
    text-align: center;
    color: white;
}

.check-days input {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid white;
    padding: 8px;
    margin: 8px auto;
    color: white;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
}

.check-days-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.check-days-form button {
    border: none;
    background: white;
    border-radius: 8px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    font-size: 60px;
}

#sentence {
    display: none;
    font-weight: 600;
}

/* mobile */

@media only screen and (max-width: 700px) {

    .main-menu {
        width: 90%;
    }

    .main-menu a {
        font-size: 14px;
    }

    .destinations {
        flex-direction: column;
        gap: 32px;
    }

    .destinations > div {
        width: 100%;
    }

    .two-columns {
        flex-direction: column;
    }

    .two-columns > div {
        width: 100%;
    }

    .keywords {
        justify-content: flex-start;
    }

    .keywords p {
        font-size: 11px;
    }

    .uncover {
        margin-top: 32px;
        width: 80% !important;
        text-align: left;
    }

    .uncover h2 {
        text-align: left !important;
    }

    .food-grid {
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        margin: 32px auto;
    }

    .guide-profile {
        flex-direction: column;
        align-items: center;
    }

    .guide-profile img {
        margin: 0;
        margin-bottom: 16px;
    }

    .guide-profile h3 {
        text-align: center;
    }

    .form-container {
        flex-direction: column;
    }

    .form-container h2 {
        text-align: center;
    }

}